<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="{{url_for('.static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('.static', filename='js/interact.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">

    <script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">

</head>
<body>

    <h2>Flexbox</h2>

    <section id="flexbox">
        <div class="container-1">
            <div class="box-1">
                <h3>Box One</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="box-2">
                <h3>Box Two</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="box-3">
                <h3>Box Three</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="container-2">
            <div class="container-2-box">
                <h3>Box One</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-2-box">
                <h3>Box Two</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-2-box">
                <h3>Box Three</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="container-3">
            <div class="container-3-box">
                <h3>Box One</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Two</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Three</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Four</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Five</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Six</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Seven</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Eight</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Nine</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Ten</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Eleven</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="container-3-box">
                <h3>Box Twelve</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
        </div>
        <br/>
        <div class="form-container">
            <form>
                <div class="form-row">
                    <label>Name:</label>
                    <input type="text" />
                </div>
                <div class="form-row">
                    <label>Favorite Color:</label>
                    <input type="text" />
                </div>
            </form>
        </div>

        <br/>

        <div class="three-column-layout">
            <div class="main-column">
                <h3>Main Column</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="sidebar-one">
                <h3>Sidebar One</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
            <div class="sidebar-two">
                <h3>Sidebar Two</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
        </div>

        <br/>

        <div class="call-outs-container">
            <div class="call-out">
                <h3>Feature 1</h3>
                <p>
                    Lorem ipsum dolor sit met, consectetur adipiscing elit.
                    Lorem ipsum dolor sit met, consectetur adipiscing elit.
                    Lorem ipsum dolor sit met, consectetur adipiscing elit.
                </p>
            </div>
            <div class="call-out">
                <h3>Feature 2</h3>
                <p>
                    Lorem ipsum dolor sit met, consectetur adipiscing elit.
                    Lorem ipsum dolor sit met, consectetur adipiscing elit.
                </p>
            </div>
            <div class="call-out">
                <h3>Feature 3</h3>
                <p>Lorem ipsum dolor sit met, consectetur adipiscing elit.</p>
            </div>
        </div>

        <br/>

        <h3>Gallery</h3>
        <div class="fixed-size-container">
            <div class="fixed-size">1</div>
            <div class="fixed-size">2</div>
            <div class="fixed-size">3</div>
            <div class="fixed-size">4</div>
            <div class="fixed-size">5</div>
        </div>

        <br/>

        <h3>Banner</h3>
        <div class="banner">
            <div class="center-me">Center Me Plz</div>
        </div>

        <br/>

        <h3>Columns AND Rows</h3>
        <div class="equal-height-container">
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi similique amet voluptatem molestiae nostrum ab nesciunt blanditiis repellendus quos, sequi sunt, dolorem quis facilis mollitia nemo modi doloribus quo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quisquam, veritatis ducimus, vero magnam hic quia pariatur asperiores laudantium quod nobis perspiciatis, expedita quo reprehenderit quasi iusto ullam error reiciendis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi similique amet voluptatem molestiae nostrum ab nesciunt blanditiis repellendus quos, sequi sunt, dolorem quis facilis mollitia nemo modi doloribus quo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quisquam, veritatis ducimus, vero magnam hic quia pariatur asperiores laudantium quod nobis perspiciatis, expedita quo reprehenderit quasi iusto ullam error reiciendis.</p>
            </div>

            <div class="second">
                <div class="second-a">A</div>
                <div class="second-b">B</div>
            </div>
        </div>

    </section>

    <h2>Card Design</h2>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <span class="card-category">POPULAR</span>
                <div class="card-description">
                    <h3>Stripe</h3>
                    <p>A cool something...</p>
                </div>
                <img src="{{url_for('.static', filename='img/gorilla.jpg')}}" alt="" class="avatar-small card-image" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <span class="card-category">POPULAR</span>
                <div class="card-description">
                    <h3>Stripe</h3>
                    <p>A cool something...</p>
                </div>
                <img src="{{url_for('.static', filename='img/gorilla.jpg')}}" alt="" class="avatar-small card-image" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <span class="card-category">POPULAR</span>
                <div class="card-description">
                    <h3>Stripe</h3>
                    <p>A cool something...</p>
                </div>
                <img src="{{url_for('.static', filename='img/gorilla.jpg')}}" alt="" class="avatar-small card-image" />
            </div>
        </div>
    </div>



</body>
</html>