<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="{{url_for('.static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('.static', filename='js/interact.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">

    <script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">

</head>
<body>

    <h2>Card Design</h2>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <span class="card-category">POPULAR</span>
                <div class="card-description">
                    <h3>Stripe</h3>
                    <p>A cool something...</p>
                </div>
                <img src="{{url_for('.static', filename='img/gorilla.jpg')}}" alt="" class="avatar-small card-image" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <span class="card-category">POPULAR</span>
                <div class="card-description">
                    <h3>Stripe</h3>
                    <p>A cool something...</p>
                </div>
                <img src="{{url_for('.static', filename='img/gorilla.jpg')}}" alt="" class="avatar-small card-image" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <span class="card-category">POPULAR</span>
                <div class="card-description">
                    <h3>Stripe</h3>
                    <p>A cool something...</p>
                </div>
                <img src="{{url_for('.static', filename='img/gorilla.jpg')}}" alt="" class="avatar-small card-image" />
            </div>
        </div>
    </div>



</body>
</html>